@use "/src/styles/colors.scss" as *;

.wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customButton {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 9999;
  pointer-events: none;
  background-color: $color-youtube-red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
